/**
 * 脚本示例
 */
class ScriptExample extends AbstractScriptTpl {
    /**
     * 数据库版本
     * @return
     */
    @Override
    String getSourceVersion() {
        return "V${sourceVersion}"
    }

    /**
     * 数据库
     * @return
     */
    @Override
    String getDatabase() {
        return "${database}"
    }

    /**
     * 版本修改ID
     * @return
     */
    @Override
    String getChangeId() {
        return "${fileName}"
    }

    /**
     * 负责人
     * @return
     */
    @Override
    String getChangeUser() {
        return "${author}"
    }

    @Override
    List<SqlMeta> mainSql() {
        return new ArrayList<SqlMeta>() {
            {
                add(SqlMeta.build("", '''
                CREATE TABLE IF NOT EXISTS ${renderFullTableName} (
            #foreach($item in ${fields})
            ${item}
            #end
    #foreach($item in ${primaryKeys})
        PRIMARY KEY (${item.keyField}) USING BTREE #if(${otherKeys}),#end

    #end
            #foreach($item in ${otherKeys})
            KEY ${item.keyName}(${item.keyField}) USING BTREE #if($foreach.hasNext),#end

            #end
            ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT= ${tableComment};
                '''))
            }
        }
    }
}

